.inputComponent {
    width: 100%;
    // display: flex;
    position: relative;
    & .inputComponentIcon {
        position: absolute;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & input {
        width: 100%;
        padding: 7px 0;
        border: none;
        outline: none;
        border-bottom: 1px solid #c3c3c3;
        &:focus-visible {
            border-bottom: 1px solid #378fc9;
        }
        &:active,
        :hover,
        :focus {
            border-bottom: 1px solid #c3c3c3;
        }
    }
}

@media screen and (max-width: 1024px) {
    .inputComponent{
        & input{
            font-size: 2.3em;
        }
    } 
}

