.accordionComponent {
    background: #f3f3f3;
    padding: 10px 35px 20px 25px;
    border-bottom: 1px solid #d8d8d8;
    .accordionComponentHeader {
        // margin-bottom: 8px;
        .accordionComponentHeaderAction {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .accordionComponentHeaderActionTitle {
                display: flex;
                align-items: center;
                color: #313436;
                font-weight: 700;
                font-size: 16px;
                span {
                    margin-left: 6px;
                }
            }
        }
        .accordionComponentHeaderData {
            display: flex;
            align-items: flex-end;
            .accordionComponentHeaderDataItem {
                margin-top: 8px;
                margin-right: 13px;
                .itemIcon {
                    margin-right: 3px;
                }
                .itemData {
                    font-weight: 400;
                    font-size: 14px;
                    color: #7a7a7a;
                }
            }
        }
    }
    .accordionComponentBody {
        margin-top: 15px;
        .accordionComponentBodyItem {
            background: #ffffff;
            color: #7a7a7a;
            border: 1px solid #d8d8d8;
            border-radius: 5px;
            padding: 9px 15px 15px 15px;
            margin-bottom: 8px;
        }
    }
}
