.cardComponent {
    box-sizing: border-box;
    min-width: fit-content;
    padding: 20px;
    border-radius: 15px;
    -webkit-box-shadow:0px 0px 50px 0px rgba(0, 0, 0, 0.161);
    -moz-box-shadow:0px 0px 50px 0px rgba(0, 0, 0, 0.161);
    box-shadow:0px 0px 50px 0px rgba(0, 0, 0, 0.161);
}